
<%= @hourly_lookup.location %>
<%= @hourly_lookup.city %><br/>
<%= @hourly_lookup.temperature %></p>
<p><%= @hourly_lookup.feel %></p></p>
<p><%= @hourly_lookup.condition %></p>
<p><%= @hourly_lookup.time %></p>
<p><%= @hourly_lookup.wind %></p>

<p><%= image_tag @hourly_lookup.icon %></p>

<%= link_to('New Search', hourly_path, class: 'btn btn-primary') %>  