<div class="span10">
	<h2>The historic averages for <%= @almanac.city %>, <%= @almanac.location %><br/> on <%= @almanac.date %></h2>
	<hr/>
</div>
<div class="span10">
	<table class="table table-striped">
		<tr class="info">
			<td>Averages</td>
			<td>Temperature in F</td>
			<td>Date</td>
		</tr>
		<tr>
			<td>Normal Warm Day</td>
			<td><%= @almanac.normal %>&deg;</td>
		</tr>
		<tr>
			<td>Record Hot Day</td>
			<td><%= @almanac.high %>&deg;</td>
			<td><%= @almanac.record_high %></td>
		</tr>
		<tr>
			<td>Normal Cool Day</td>
			<td><%= @almanac.normal_low %>&deg;</td>
		</tr>
		<tr>
			<td>Record Cold Day</td>
			<td><%= @almanac.low %>&deg;</td>
			<td><%= @almanac.record_low %></td>
		</tr>
	</table>
	<%= link_to('New Search', almanac_path, class: 'btn btn-primary') %>  
</div>