
<%= @hourly.location %>
<%= @hourly.city %><br/>
<%= @hourly.temperature %></p>
<p><%= @hourly.feel %></p></p>
<p><%= @hourly.condition %></p>
<p><%= @hourly.time %></p>
<p><%= @hourly.wind %></p>

<p><%= image_tag @hourly.icon %></p>

<%= link_to('New Search', hourly_path, class: 'btn btn-primary') %>  