<h1>Welcome to Weather-ly</h1>
<div class="span10">
	<h6>Weather-ly is a weather site built to help you quickly get information about the weather in your local area or 
	anywhere else in the world. Whether you are looking for the current weather, the forecast for the next few days, or just some historical information about an area you will be able to find the answers here. It is free to use with many more exciting additions coming in over the next few months.</h6>
</div>
<div class="span10">
	<% if signed_in? %> 
	<% else %>
		<div class='btn-group'>
	 	<%= link_to('Login', new_user_session_path, class: 'btn btn-primary') %>  
	 	<%= link_to('Register', new_user_registration_path, class: 'btn btn-primary')  %> 
		</div>
	<% end %>
	<hr/>
</div><br/><br/>
<div class="span5">
	<h4>Current conditions in <%= @page.city %>, <%= @page.state %>, <%= @page.country %></h4><br/>
	<%= image_tag @page.icon %><br/>
	<table class="table table-striped">
		<tr >
			<td><%= @page.condition %></td>
		</tr>
		<tr >
			<td>It is currently <%= @page.temperature %>&deg;</td>
		</tr>
		<tr >
			<td>It feels like <%= @page.feel %>&deg;</td>
		</tr>
		<tr >
			<td>Wind is blowing out  <%= @page.wind %> at <%= @page.winddir %> degrees</td>
		</tr>
	</table>
</div>
<div class="span5">
	<h4>Current radar imagery of your area:</h4>
	<%= image_tag @page.image %><br/>
	<em>The next update will be at <%= @page.time %></em>
</div>